.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.inputWrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.inputWrapper label {
  padding-bottom: 3px;
}

.results {
  padding: 30px 50px;
  max-width: 100%;
  word-break: break-word;
}